.dasboard-side-image-container{
width: 100%;

}
.dasboard-side-image{
    width: 100%; 
     display: flex;
justify-content: center;
align-items: center; 

}
.dasboard-side-image:hover{

background-color: #0D7742;
padding: 10px; 
}
.dasboard-side-image svg{
  color: #8E8EA9;
  font-size: 1.7rem;


}
.dasboard-side-image svg:hover{

color: white;

}
.footer-copyright{
  font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: #666687;
}
.footer-copyright span{
  font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: center;
color: #666687;
}
.footer-links{
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-links a{
  color: #12A55C;
  font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
text-decoration: underline;

}